/*Styles for the index*/
.denial{
	text-align:center;
	margin:auto;
	margin-top:5%;
	padding:2.5%;
	background-color:white;
	line-height:150%;
}
/*Styles for checkin*/

#prompt-container{
	font-size:120%;
	background-color:rgba(221, 94, 94, 0.5);
	border-radius:5px;
	margin-bottom:10px;
}

#prompt-icon{
	background-position: 0px -120px;
}

fieldset{
	margin:auto;
	padding:5%;
	border:none;
}
legend{
	font-size:200%;
	letter-spacing:2px;
	font-weight:normal;
	margin-top:10%;
	margin-bottom:5%;
}
.checkin-input,.create-new-input{
	display:block;
	background-color:white;
	width:96%;
	border:none;
	border-radius:4px;
	padding:3% 2% 3% 2%;
	margin-top:2%;
}
#checkin-button,#create-button{
	width:50%;
	margin:5% 20% 5% 20%;
	padding:5%;
	cursor:pointer;
	background-color:#74B4E0;
	color:white;
	letter-spacing:2px;
	border:none;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.05) inset;
	font-size:120%;
	font-weight:bold;
}
#checkin-button:hover,#create-button:hover{
	opacity:0.8;
}
#checkin-button:click{
	background-color:white;
	color:#6D0AAA;
	border:2px solid #6D0AAA;
}
#checkin-denial{
	width:80%;
	text-align:center;
	background-color:#DDD;
	border-radius:5px;
}
#prompt-container{
	border:none;
	margin:auto;
	margin-top:20px;
	padding:1%;
}
.cta{
	width:75%;
	margin:2% 5% 2% 5%;
	padding:8%;
	background-color:purple;
	color:white;
	border:1px solid yellow;
}
#question-mark{
	display:block;
	font-family:Georgia;
	font-size:500%;
	color:yellow;
}


.error-flags{
	color:red;
	font-size:150%;
	line-height:120%;
}
#error-container,#success-container{
	width:90%;
	margin-bottom:10px;
}
#error-icon{
	background-position: -312px 0px;
}

#success-icon{
	background-position:-288px 0px;
}
.input-label-inline{
	display:inline-block;
	margin:1px 5px 1px 5px;
}

@media only screen and (max-width: 800px){
	/*Special Styles for the index*/
.denial{
	width:90%;
}	
/*Special styles for checkin*/
.all-content{
	background-color:white; 
	width:95%;
	margin:auto;
	padding:2.5%;
}
fieldset{
	width:80%;
	margin:auto;
	padding:5%;
	border:none;
}
#checkin,#createnew{
	padding:5%;
	background-color:#F5F5F5;
	border:1px solid #E3E3E3;
	margin-top:10px;
}
#prompt-container{
	width:90%;
}
}
@media only screen and (min-width: 800px){
/* Special Styles for the index*/
	.main-content{
		width:79%;
		float:left;
		margin-right:0.5%;
	}
	.denial{
	width:50%;
}
/*Special styles for checkin*/
.all-content{
	width:90%;
	min-height:1000px;
	margin:auto;
	background-color:rgba(236, 87, 236, 0.2);
}
fieldset{
	width:90%;
}
#checkin,#createnew{
	float:left;
	width:40%;
	margin:2%;
	background-color:#F5F5F5;
	border:1px solid yellow;
	padding:2%;
}
#checkin-denial{
	width:70%;
}
#prompt-container{
	width:60%;
}
}
