#property-head{
	display:block;
	padding:2%;
	background-color:white;
	margin-bottom: 10px;
}
#image-tray{
		
	}
div.photo-container{
		display:inline-block;	
}
	div.photo-container>img{
		width:200px;
		height:200px;

}

div#detail-tray{
	width:100%;
	font-size:100%;
}
#image-tray,#info-container,#facilities-container,#rating-container,#agent-info-container{
	font-size:100%;
	margin:5px;
	border:1px solid #E3E3E3;
	
}
.container-inside{
	background-color: white;
	padding:5px;
}

.esss{
	display:inline-block;
	padding:10px 20px 10px 20px;
	margin:20px;
	color:purple;
	background-color:rgba(236, 87, 236, 0.2);
	border-radius:3px;
	font-size:120%;
}
ul.facilities{
	width:80%;
	padding:0px;
	margin:auto;
}
li.info-list,li.facilities-list,li.contact-list{
	list-style-type: none;
	padding:5px 10px 5px 10px;
	margin:0px 5px 0px 5px;
}
li.info-list,li.facilities-list{
	display:inline-block;
}
li.facilities-list{
	background-color:yellow;
	color:purple;
	border-radius:2px;
	margin:5px;
}
h4#descr{
	padding:20px;
	font-size:120%;
	font-weight:normal;
}
#bars-box{
	width:70%;
	margin:auto;
}
.bar-container{
	margin: 10px 0px 10px 0px;
}
.rating-bar{
	height:20px;
	width:95%;
	margin: 0px 2.5% 0px 2.5%;
	border:1px solid purple;
	background-color:white;
}
#rating-disclaimer-container{
	width:90%;
	margin:3%;
	padding:2%;
	border:1px solid purple;
	border-radius:2px;
}


#see-also-container{
	background-color:#F5F5F5;
	padding:1%;
	border:1px solid #E3E3E3;
}
#agents-container{
	background-color:white;
	margin-left:1%;
	padding:1%;
	border:1px solid #E3E3E3;
}
.related-property{
	height:100px;
	background-color:white;
	margin-bottom:10px;
	border:1px solid #E3E3E3;
	padding:1%;
}
.related-property-image{
	float:left;
	width:70px;
	height: 70px;
}
.related-property-info{
	float:left;
	width:70%;
	margin-left:10px;
}


.about-section{
	color:grey;
	display:block;
}
.not-rated{
	color:red;
}
#rating-disclaimer-container{
	background-color:rgba(129, 1, 129, 0.8);
}
#rating-disclaimer-container>p{
	color:white;
}
#rating-disclaimer-head{
	font-weight:normal;
	color:white;
	font-family:Georgia;
	font-size:200%;
}
p.bar-label{
	margin:0px 1% 1% 1%;
	text-align:center;
}

.wiped{
	height:100%;
	background-color:yellow;
	text-align:center;
}

@media all and (min-device-width: 800px),
(min-width:800px){
	.details-wrapper{
		width: 100%;
		/*margin-left:2%;*/
		background-color:#F5F5F5;
	}
#all-details-boxes-container{
width:100%;
	}
#info-container,#facilities-container,#rating-container,#agent-info-container{
	width:80%;
	margin:auto;
margin-bottom: 5px;
	}
div.photo-container{
		display:inline-block;
		
}

.related-property{
	display:inline-block;
	width: 30%;
	margin:5px;
}

}
@media all and (max-device-width:800px),
(max-width: 800px){
.main-content{
	width:100%;
}

#info-container,#facilities-container,#rating-container,#agent-info-container{
	width:90%;
	margin:auto;
	margin-bottom:5px;
}
.other-properties{
	width:100%;
	display:block;
}
.related-property{
	width:98%;
}
}
@media all and (max-width:350px){
div.photo-container{
		width:100%;	
}
div.photo-container>img{
		width:100%;	
}
}



