.container-inside{
	background-color:white;
	padding:5px;
	border:1px solid #e3e3e3;
}
.head-tray{
	background-color:white;
	padding:10px;
	padding-bottom:0px;
	margin-bottom:5px;
}
.property-images{
	width:100%;
	min-height:200px;
	max-height:500px;
	}
.head-tray>div>.row{
	margin-bottom:20px;
}
.about-section{
	color:grey;
}
li{
	list-style-type:none;
}
.detail-list-important,.detail-list,.facilities-list{
	padding:10px;
	color:#20435C;
	border:5px solid white;
	border-radius:10px;
}
.detail-list-important{
	background-color:#b2dfdb;
}
#description-container{
	padding:5px;
	min-height:100px;
	background-color:#f7f7f7;
	border:#e3e3e3;
	color:blue;
	font-style:italic;
}
.rating-bar{
height:20px;
	width:95%;
	margin: 0px 2.5% 0px 2.5%;
	border:1px solid #20435C;
	background-color:white;
	margin-bottom:10px;
}
.not-rated{
	color:red;
}
.rating-disclaimer-container{
	background-color:yellow;
	padding:10px;
	margin-top:20px;
	border:1px solid purple;
	border-radius:5px;
	margin:10px auto;
}
li.contact-list{
	padding:10px;
	border-bottom:1px solid #e3e3e3;
}
.related-property{
	background-color:white;
	border:2px solid #eeeeee;
}
.related-property-detail{
	display:block;
	height:40px;
	overflow:hidden;
}
@media all and (max-width:768px){
[class $= container]{
		padding:0px;
	}
.head-tray{
		background-color:#20435C;
		color:white;
	}
	div#details-body{
	padding:0px 10px;
}
.glyphicon.glyphicon-map-marker.site-color{
	color:red;
}	
.rating-disclaimer-container{
		width:95%;
	}
}
@media all and (min-width:768px){
	.body-content{
		padding-left:20px;
		padding-right:20px;
	}

	.bar-container{
width:70%;
margin:5px auto;
	}
	.rating-disclaimer-container{
		width:60%;
	}
}