/*
@media screen and (min-width:1025px)*/
html{
		font-family: Helvetica,Arial,sans-serif;
		font-size: 16px;
		font-weight:normal;
		line-height:1.2em;
	}
.suggestion-box{
		background-color:black;
		opacity:0.7;
		position:absolute;
		overflow-y:scroll;
		box-shadow: 2px 2px 2px 2px #DDD;
	}
.suggestion-box-list{
	color:white;
	display:block;
	padding:2%;
	border-bottom:1px solid white;
}
ul.no-padding-ul{
	padding:0px;
}
.suggestion-box-link:hover{
	text-decoration:none;
}
.suggestion-box-list:hover{
	background-color:grey;
}
.show-more-link{
	display:inline-block;
	padding:2%;
	margin:4%;
	border-radius:8px;
	font-family:arial;
	background-color: #6D0AAA;
	color:white;
	font-size:100%;
}
.show-more-link:hover{
	background-color:grey;
text-decoration:none;
}
.white-icon{
	display: inline-block;
width: 24px;
height: 14px;
line-height: 14px;
margin-top:1px;
vertical-align: text-top;
	background-image:url("../resrc/white-icons.png");
}
.black-icon{
display: inline-block;
width: 24px;
height: 14px;
line-height: 14px;
margin-top:1px;
vertical-align: text-top;
	background-image:url("../resrc/black-icons.png");
}
@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
		body{
		max-width:1000px;
		min-width:300px;
	}
	body{
	font-size:250%;
		
		}
input,label,select,legend{
	font-size:130%;
}
input[type=text],input[type=password],input[type=email]{
	padding:3%;
	
}	

		input:focus{
			font-size:180%;
		}
		
	div.sidebar{
		display:none;
	font-size:90%;		
	}
	.account-nav-link{
		padding:3% 3% 3% 10%;
	}
	div.main-content{
	width:100%;
	font-size:100%;
}
div.content-before-footer{
	min-height:1200px;
}
.follow-button,.unfollow-button{
	width:300px;
}
.black-icon,.white-icon{
	display:none;
}
}
@media only screen and (min-device-width: 300px) and (max-device-width: 1000px) and (orientation: landscape){
	body{
		font-size:180%;
		}	
}
@media only screen and (min-device-width: 1000px){
	body{
		width:100%;
		min-width:1000px;	
	}
	body,input,button{
		font-size:90%;	
	}
	input[type=text],input[type=password],input[type=email]{
	padding:2%;
}
	.sidebar{
		font-size:80%;
	}
#hiddenTopMenu{
	display:none;
}
div.main-content{
	width:40%;
	float:left;
}
div.content-before-footer{
	min-height:500px;
}
.follow-button,.unfollow-button{
	width:100px;
}
.follow-button:hover,.unfollow-button:hover{
	width:120px;
}
}

body{
margin: 0px;
	}
button,input,select{
		font-size:100%;
	}
	
div.top-nav-bar,body{
	width:100%;
}
.site-color-background{
	background-color:#6D0AAA;
}
.site-color-foreground{
	color:#6D0AAA
}


p,a,li,label {
line-height:1.4em;
}
body.pic-background{
		background-image: url("../resrc/ground.png");
	}
body.no-pic-background{
		background-color:#eeeeee;
	}
body.special-background{
	background-color:#6D0AAA;
}
a{
		text-decoration:none;
		color:#6D0AAA;
	}
a:hover{
	text-decoration:underline;
}
a.list-link{
		text-decoration:none;
		color:inherit;
	}
a.list-link:hover{
	text-decoration:none;
}
.container-headers{
	display:inline-block;
	background-color:white;
	border-left:5px solid #6D0AAA;
	text-align:center;
	width:88%;
	margin:auto;
	padding:5%;
	letter-spacing:10px;
}
.follow-button,.unfollow-button{
	cursor:pointer;
	margin-top:5px;
	text-align:center;
	margin-right:5px;
	border:1px solid grey;
}
.follow-button{
	background-color:white;
	color:#6D0AAA;
}
.unfollow-button{
	background-color:#6D0AAA;
	color:white;
}

.follow-icon{
	background-position: 0px -96px;
}
.unfollow-icon{
	background-position: -24px -96px;
}
.operation-report-container{
	font-size:100%;
	width:80%;
	margin:auto;
	margin-bottom:5px;
	padding:5%;
	color:grey;
	background-color:white;
	box-shadow: 1px 2px 2px 2px grey;
	line-height:100%;
}

/*Sidebar*/
div.sidebar{
	height:100%;
	min-height:550px;
	min-width:200px;
	width:20%;
	float:left;
	background-color:#eeeeee;
}
#sidebar-original{
	overflow:hidden;
	position:fixed;
	}
#sidebar-original:hover{
	overflow-y:scroll;
	overflow-x:hidden;
}

.account-nav-link{
		padding:3% 3% 3% 10%;
	}
	.username{
	display:block;
	text-transform:uppercase;
	text-align:center;
	font-weight:normal;
}
#upload-btn{
width:70%;
margin:auto;
padding:5%;
text-align:center;
cursor:pointer;
background-color:#6D0AAA;
color:white;
border:none;
border-radius: 20px;
font-weight:bold;
}
.account-nav-container{
	background-color:inherit;
	margin-bottom:5px;
	width:98%;
	border-radius: 5px;
	opacity:0.8;
}

.account-nav-link{
	display:block;
	width:85%;
	color:black;
}
.account-nav-link:hover{
	text-decoration:none;
	background-color:#DDD;
}
#category-container{
	width:92%;
	overflow-y:hidden;
	padding-left: 2%;
}
#categories{
padding:3%;
cursor:default;
color:grey;
display:block;
font-weight:bold;
}

.arrow-down, .arrow-up{
float:left;
margin-right:20px;
display: inline-block;
width: 14px;
height: 14px;
margin-top:0px;
background-image:url("../resrc/black-icons.png");
}
#all-arrow{
	float:right;
}
.arrow-down,.arrow-up{
	vertical-align:text-bottom;
}
.arrow-up{
	background-position: -288px -120px;
}
.arrow-down{
	background-position: -312px -120px;
}

.btn-dropdown{
width:92%;
margin-top:5px;
text-align:left;
color:#eeeeee;
cursor:pointer;
padding:4%;
margin-bottom:2px;
border-radius:3px;
}
/* all btn-dropdown but #all-btn-dropdown*/
.btn-dropdown:not(#all-btn-dropdown){
	background-color:grey;
}
#all-btn-dropdown{
	font-size:80%;
	text-align:right;
	color:grey;
}

div.dropdowns{
width:100%;
display:none;
}

a.dropdown-menu{
text-align:left;
width:91%;
display:block;
background-color:#eeeeee;
color:#6D0AAA;
margin-bottom:1px;
padding:3%;
border-bottom:1px solid white;

}
a.dropdown-menu:hover{
text-decoration:none;
background-color:#DDD;
}

#upload-icon{
background-position: -288px -144px;
}
#category-icon{
background-position: -240px 0px;
}
#flat-icon,#sc-icon,#wing-icon,#others-icon{
background-position: 0px -24px;
}

