/*
@media screen and (min-width:1025px)*/
html{
		font-size: 16px;
		font-weight:normal;
		line-height:1.2em;
	}
html,button,input,select,option{
font-family: Helvetica,Georgia,"Century Gothic",Arial,sans-serif;
	}
h1,h2,h3,h4,h5,h6{
	line-height:150%;
}
textarea{
	resize:none;
}
a{
	color:blue;
}
.account-nav-link:visited{
	color:black;
}
.inline-block-link:visited,.cta-status-link:visited{
	color:white;
}
.suggestion-box{
		background-color:black;
		opacity:0.7;
		position:absolute;
		overflow-y:scroll;
		box-shadow: 2px 2px 2px 2px #DDD;
	}
.suggestion-box-list{
	color:white;
	display:block;
	padding:2%;
	border-bottom:1px solid white;
}
ul.no-padding-ul{
	padding:0px;
}
.suggestion-box-link:hover{
	text-decoration:none;
}
.suggestion-box-list:hover{
	background-color:grey;
}
.show-more-link{
	display:inline-block;
	padding:2%;
	padding-right:10%;
	padding-left:10%;
	margin:4%;
	border-radius:8px;
	font-family:arial;
	background-color: grey;
	color:white;
	font-size:100%;
}
.show-more-link:hover{
	font-size:110%;
text-decoration:none;
}
.white-icon{
	display: inline-block;
width: 24px;
height: 14px;
line-height: 14px;
margin-top:1px;
vertical-align: text-top;
	background-image:url("../resrc/white-icons.png");
}
.black-icon{
display: inline-block;
width: 24px;
height: 14px;
line-height: 14px;
margin-top:1px;
vertical-align: text-top;
	background-image:url("../resrc/black-icons.png");
}
.sidebar{
	font-family:Tahoma;
}
.cta-expiry-notice>h1{
	font-weight:normal;
}
.cta-expiry-notice>p{
	color:white;
}
a#renew-in-notice{
	display:inline-block;
	text-align:center;
	text-decoration:none;
	padding:2%;
	padding-left:5%;
	padding-right:5%;
	background-color:purple;
	color:white;
	border-radius:5px;
}
.cta-time-remaining{
	color:red;
	font-size:120%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
	html,button,input,select,option{
/*font-family: Georgia;*/
	}
		body{
		max-width:1000px;
		min-width:300px;
	}
	body{
	font-size:250%;
	letter-spacing: 1px;
		}
body.mixedcolor-background,div.mixedcolor-background{
	background: #EEEEEE url('../resrc/mixedcolormobile.png') repeat-x;
}
input,label,select,legend{
	font-size:130%;
}
table,tr,td{
	font-size:100%;
}
input[type=text],input[type=password],input[type=email]{
	padding:3%;
	font-size:110%;
	border-radius:10px;
}	
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus{
	font-size:160%;
}
/* I put this style because in mobile chrome, some text always appear unusually larger than it should
and i noticed that this style correct it
*/
p,h1,h2,h3,h4,h5,h6,span,li,.inline-block,.inline-block-fullwidth{
	display:inline-block;
	max-height:1000px;
}
.inline-block-fullwidth{
	width:100%;
}

.all-corners-border-1{
	border: 5px solid rgba(0,0,0,0.1);
}
.box-shadow-1{
	box-shadow: 4px 10px 20px #555;
}
	
.cta-expiry-notice{
	background-color:rgba(221, 94, 94, 0.5);
	width:95%;
	margin:auto;
	padding:1%;
	color:red;
	letter-spacing:2px;
}

	div.sidebar{
		display:none;
	font-size:100%;	
	}
	#sidebar-original{
	overflow:hidden;
	position:fixed;
	background-color:#F5F5F5;
	box-shadow:0px 5px 5px rgba(0, 0, 0, 0.05) inset;
	border-radius:2px;
	}
#sidebar-original:hover{
	overflow-y:scroll;
	overflow-x:hidden;
}
.sidebar-headings{
	display:block;
	font-size:200%;
	padding:0px;
	letter-spacing:10px;
	font-weight:normal;
	color:purple;
}
.account-nav-container{
	background-color:#DDD;
	width:90%;
	margin:1% 5% 1% 5%;
	border: 5px solid #C7C7C7;
	opacity:0.8;
}

.account-nav-link{
		padding:3% 3% 3% 10%;
		color:black;
		font-size:110%;
		font-weight:bold;
	}
	div.main-content{
	width:100%;
	font-size:100%;
}
.rhs{
	margin-top:5%;
	width:90%;
	padding:5%;
	
}
.fixed-rhs-content,.relative-rhs-content{
	padding-left:20px;
	
	
}
div.content-before-footer{
	min-height:1200px;
}
.follow-button,.unfollow-button{
	width:300px;
}
.black-icon,.white-icon{
	display:none;
}
}
@media only screen and (min-device-width: 300px) and (max-device-width: 1000px) and (orientation: landscape){

	body{
		font-size:180%;
				width:90%;
		}	
}
@media only screen and (min-device-width: 1000px){
	
	html,button,input,select,option{
		/*font-family: Georgia;*/
		letter-spacing:0.5px;
	}
	body{
		width:100%;
		min-width:1000px;	
	}
	body,input,button{
		font-size:90%;	
		
	}
	body.mixedcolor-background,div.mixedcolor-background{
	background: #EEEEEE url('../resrc/mixedcolor.png') repeat-x;
}
	input[type=text],input[type=password],input[type=email]{
	
}

.all-corners-border-1{
	border: 2px solid rgba(0,0,0,0.1);
}
.box-shadow-1{
	box-shadow: 2px 5px 12px #555;
}
.cta-expiry-notice{
	display:none;
	background-color:rgba(221, 94, 94, 0.5);
	border-top:2px solid red;
	border-bottom:2px solid red;
	width:98%;
	margin:auto;
	padding:1%;
	color:red;
	letter-spacing:2px;
}
	.sidebar{
		font-size:100%;
		letter-spacing: 1px;
	}
	#sidebar-original{
	overflow:hidden;
	position:fixed;
	/*background: #F5F5F5 url('../resrc/sidebar_bg.png') repeat-y right 0;
	box-shadow:0px 5px 5px rgba(0, 0, 0, 0.05) inset;
	border-radius:2px;*/
	background-color:inherit;
	}
#sidebar-original:hover{
	overflow-y:scroll;
	overflow-x:hidden;
}
	.sidebar-headings{
	display:block;
	font-size:120%;
	padding:0px;
	letter-spacing:3px;
	font-weight:normal;
	color:purple;
}
.account-nav-container{
	/*background-color:#F5F5F5;
	width:98%;
	margin:3px 1% 10px 1%;
	border: 2px solid #C7C7C7;
	opacity:0.8;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.05) inset;*/
}

	.account-nav-link{
		padding:3% 3% 3% 10%;
		color:black;
	}
#hiddenTopMenu{
	display:none;
}
div.main-content{
	width:40%;
	float:left;
}
div.rhs{
	margin-top:2%;
	width:30%;
	float:left;
}
div.fixed-rhs-content{
	position:fixed;
}

div.content-before-footer{
	min-height:500px;
}
.follow-button,.unfollow-button{
	width:115px;
}
.follow-button:hover,.unfollow-button:hover{
	width:125px;
}
}

body{
margin: 0px;
	}
button,input,select{
		font-size:100%;
	}
	
div.top-nav-bar,body{
	width:100%;
}
.site-color-background{
	background-color:#6D0AAA;
}
.site-color-foreground{
	color:#6D0AAA
}


p,a,li,label {
line-height:1.4em;
}
body.pic-background{
		/*background-image: url("../resrc/ground.png");*/
		background-color:#eeeeee;
	}
body.no-pic-background{
		background-color:#eeeeee;
	}
body.special-background{
	background-color:#6D0AAA;
}
a{
		text-decoration:none;
	
	}
a:hover{
	text-decoration:underline;
}
a:visited{
	
}
a.list-link{
		text-decoration:none;
	}
a.list-link:hover{
	text-decoration:none;
}
.container-headers{
	display:inline-block;
	background-color:white;
	border-left:5px solid #6D0AAA;
	text-align:center;
	width:88%;
	margin:auto;
	padding:5%;
	letter-spacing:10px;
}
.follow-button,.unfollow-button{
	cursor:pointer;
	margin-top:5px;
	text-align:center;
	margin-right:5px;
	border:1px solid purple;
	border-radius:5px;
}
.follow-button{
	background-color:white;
	color:purple;
}
.unfollow-button{
	background-color:#6D0AAA;
	color:white;
}

.follow-icon{
	background-position: 0px -96px;
}
.unfollow-icon{
	background-position: -24px -96px;
}
.operation-report-container{
	font-size:100%;
	width:80%;
	margin:auto;
	margin-bottom:5px;
	margin-top:5%;
	padding:5%;
	line-height:100%;
	background-color:#F5F5F5;
	border: 1px solid #E3E3E3;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.05) inset;
}
.operation-fail-container{
	color:red;	
	width:80%;
	margin:auto;
	margin-top:5%;
	padding:5%;
	line-height:200%;
	border-radius:5px;
	background-color:rgba(233, 114, 114, 0.58);
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.05) inset;
}
a.inline-block-link{
	display:inline-block;
	padding:2%;
	padding-left:5%;
	padding-right:5%;
	margin:2%;
	border-radius:5px;
	text-decoration:none;
}
a.inline-block-link:hover{
	opacity:0.8;
}
.white-on-purple{
	background-color:purple;
	color:white;
}
.white-on-red{
	background-color:red;
	color:white;
}

/*Sidebar*/
div.sidebar{
	height:80%;
	min-height:550px;
	min-width:200px;
	width:20%;
	float:left;

}
.account-nav-link{
		padding:3% 3% 3% 10%;
	}
	.username{
	display:block;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	font-weight:normal;
}
#cta-status-container{
	width: 98%;
	padding-top:3%;
	padding-bottom:3%;
	font-size:90%;
	border-radius:5px;
	text-align:center;
	box-shadow:0px 3px 3px rgba(0,0,0,0.05) inset;
	line-height:50%;
}
.cta-status-link{
	display:inline-block;
	padding:2%;
	padding-left:5%;
	padding-right:5%;
	border-radius:5px;
	background-color: #485689;
	color:white;
	text-align:center;
	text-decoration:none;
}

#cta-renewal-link:hover{
	background-color:grey;
	color:white;
	text-decoration:none;
}
#upload-btn{
width:70%;
margin:auto;
padding:5%;
text-align:center;
cursor:pointer;
background-color:purple;
color:white;
border:none;
border-radius: 10px;
font-weight:bold;
}

.account-nav-link{
	display:inline-block;
	width:85%;
	max-height:100px;
}
.account-nav-link:hover{
	text-decoration:none;
	background-color:#DDD;
}
#category-container{
	width:92%;
	overflow-y:hidden;
	padding-left: 2%;
}
#categories{
padding:3%;
cursor:default;
color:grey;
display:block;
font-weight:bold;
}

.arrow-down, .arrow-up{
float:left;
margin-right:20px;
display: inline-block;
width: 14px;
height: 14px;
margin-top:0px;
background-image:url("../resrc/black-icons.png");
}
#all-arrow{
	float:right;
}
.arrow-down,.arrow-up{
	vertical-align:text-bottom;
}
.arrow-up{
	background-position: -288px -120px;
}
.arrow-down{
	background-position: -312px -120px;
}

.btn-dropdown{
width:92%;
margin-top:5px;
text-align:left;
color:#eeeeee;
cursor:pointer;
padding:4%;
margin-bottom:2px;
border-radius:3px;
}
/* all btn-dropdown but #all-btn-dropdown*/
.btn-dropdown:not(#all-btn-dropdown){
	background-color:grey;
}
#all-btn-dropdown{
	font-size:80%;
	text-align:right;
	color:grey;
}

div.dropdowns{
width:100%;
display:none;
}

a.dropdown-menu{
text-align:left;
width:91%;
display:block;
background-color:#eeeeee;
color:#6D0AAA;
margin-bottom:1px;
padding:3%;
border-bottom:1px solid white;

}
a.dropdown-menu:hover{
text-decoration:none;
background-color:#DDD;
}

#upload-icon{
background-position: -288px -144px;
}
#category-icon{
background-position: -240px 0px;
}
#flat-icon,#sc-icon,#wing-icon,#others-icon{
background-position: 0px -24px;
}

