/*
@media screen and (min-width:1025px)*/
body,input,button,select,option{
		font-family: Helvetica,Georgia,"Century Gothic",Arial,sans-serif;
		font-size: 15px;
		font-weight:normal;
		line-height:1.2em;
		margin: 0px;
	}
	body.pic-background{
		background-color:#EEEEEE;
	}
body.no-pic-background{
		background-color:#eeeeee;
	}
body.purple-background{
	background-color:purple;	
	}
body.mixedcolor-background,div.mixedcolor-background{
	background: #EEEEEE url('../resrc/mixedcolor.png') repeat-x;
}

textarea{
	resize:none;
}
a{
	color:blue;
}
a,a.list-link{
		text-decoration:none;
	}
a:hover{
	text-decoration:underline;
}
a.list-link:hover{
	text-decoration:none;
}
a:visited{
	
}	
	p,a,li,label {
line-height:1.4em;
}
img,.photo-container{
	background-image:url('../resrc/gifs/progress-circle.gif');
	background-repeat:no-repeat;
	background-position:center;
	border:1px solid #E3E3E3;
}
.account-nav-link:visited{
	color:black;
}

.skyblue-block-link:hover{
	opacity:0.8;
	text-decoration:none;
}
.inline-block-link:visited,.cta-status-link:visited{
	color:white;
}
.major-headings{
	font-weight: normal;
	 font-size:200%;
	  color:purple;
	  margin:20px;
}
.suggestion-box{
		display:none;
		width:300px;
		min-height:100px;
		background-color:white;
		position:absolute;
		overflow-y:scroll;
		margin-top:0px;
		z-index:99;
		background: white url('../resrc/gifs/loading.gif') center no-repeat;
		box-shadow: 0px 2px 2px #555;
	}
/*I purposely put this here because the file where this element is required from two different location
#suggested-location-container{
	
}*/
.suggestion-box-list{
	background-color:white;
	color:black;
	display:block;
	padding:2% 0px 2% 0px;
	border-bottom:1px solid #E3E3E3;
}
ul.no-padding-ul{
	padding:0px;
}
.suggestion-box-link:hover{
	text-decoration:none;
}
.suggestion-box-list:hover{
	background-color:#DDD;
}
div.next-prev-container{
	height:35px;
}
.previous,.next{
	display:inline-block;
	height:25px;
	padding:5px 10px 5px 10px;
	background-color:#74B4E0;
	color:white;
	border-radius:8px;
	margin-bottom:5%;
}
.previous{
	float:left;
	margin-left:2%;
}
.next{
	float:right;
	margin-right:2%;
}
.previous,.next{
	border-radius:3px;
}
.previous:hover,.next:hover{
	opacity:0.8;
}
.close{
	float:right;
	height:20px;
	width:20px;
	padding:5px;
	border-radius:50%; 
	text-align:center; 
	background-color:black; 
	color:white;
	font-size:200%;
	cursor:pointer;
	font-weight:normal;
}
.close:hover{
	color:red;
}

p.loading-data,p.no-data-loaded{
	 display:block;
	 text-align:center;	
	 margin:0px 0px 10% 0px;
}
p.loading-data{
	 color:blue;
}
p.no-data-loaded{
	 color:red;
}


img.gif{
	background-image:none;
	display:block;
	margin:auto;
	margin-bottom:5px;
	border:none;
}
.progress-circle,.lazy-loading{
	width:50px;
	height:50px;
}
.stairs-loading{
	width:50px;
	height:50px;
}
.progress-bar{
	width:150px;
	height:20px;
}

.yellow-inline-block-link,.yellow-block-link{
	text-align:center;
	padding:1% 5% 1% 5%;
	background-color:yellow;
	color:purple;
	border-radius:10px;
	font-family:Georgia;
	font-size:100%;
	font-weight:bold;
	box-shadow: 0px 10px 10px rgba(236, 87, 236, 0.4) inset;
}
.skyblue-block-link,.skyblue-inline-block-link{
	background-color:#74B4E0;
	text-align:center;
	color:white;
	padding:1% 5% 1% 5%;
	border-radius:3px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) inset;
}
.purple-block-link,.purple-inline-block-link{
	background-color:purple;
	text-align:center;
	color:white;
	padding:1% 5% 1% 5%;
	border-radius:3px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) inset;
}
.deepblue-inline-block-link,.deepblue-block-link{
	background-color:#0d47a1;
	text-align:center;
	color:white;
	padding:1% 5% 1% 5%;
	border-radius:3px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) inset;
}
.skyblue-block-link,.yellow-block-link,.purple-block-link,.deepblue-block-link{
	display:block;
}
.skyblue-inline-block-link,.yellow-inline-block-link,.purple-inline-block-link,.deepblue-inline-block-link{
	display:inline-block;
}
.skyblue-block-link:hover,
.yellow-block-link:hover,
.purple-block-link:hover,
.deepblueblock-link:hover,
.skyblue-inline-block-link:hover,
.yellow-inline-block-link:hover,
.purple-inline-block-link:hover,
.deepblue-inline-block-link:hover{
	text-decoration:none;
}
div.input-wrapper,input.search-input-field,.search-btn{
	height:40px;
}
div.input-wrapper{
		background-color:white;
		padding-left:2%;
		border:1px solid #E3E3E3;
	}
input.search-input-field{
	width:73%;
	margin:0px;
	padding:0px;
	border:none;
}
.search-btn{
	width:24%;
	margin:0px;
	padding:0px;
	cursor:pointer;
	background-color:yellow;
	color:purple;
	padding-left:5%;
	padding-right:5%;
	border:none;
}
.continue-or-back-button-wrapper{
    height:50px;
}

.continue-or-back-button:hover,#finish-button:hover{
    text-decoration:none;
    opacity: 0.8;
}
.continue-or-back-button{
	background-color:#0D47A1;
	color:white;
	border-radius: 2px;
    margin:5px;
	padding:1%;
	padding-left:3%;
	padding-right:3%;
	cursor:pointer;
	border:none;
	box-shadow:0px 7px 7px rgba(0,0,0,0.1) inset;
}
.continue{
    float:right;
}
.go-back{
    float:left;
}
.all-corners-border-1{
	border:1px solid rgba(0,0,0,0.1);
}
.box-shadow-1{
	box-shadow: 2px 5px 12px #555;
}
.cta-expiry-notice{
	background-color:rgba(221, 94, 94, 0.5);
	width:60%;
	margin-top:5px;
	padding:0% 1% 0% 1%;
	color:red;
	border-radius:5px;
}


div.main-content{
	float:left;
}
div.rhs{
	margin-top:2%;
	width:30%;
	float:left;
}
div.fixed-rhs-content{
	position:fixed;
}

div.content-before-footer{
	min-height:500px;
}
.clip-button,.unclip-button,.waiting-clip{
	padding-left: 20px; 
	text-align: center;
	color:black;
	text-decoration: none;
	font-size: 14px;
}
.clip-button:hover,.unclip-button:hover,.waiting-clip:hover{
	text-decoration: none;
}

.clip-disabled{
	cursor:not-allowed;
	color:rgba(0,0,0,0.3);
}
.waiting-clip{
	background: white url('../resrc/gifs/lazy-loading.gif') center no-repeat;
}

/*Colors*/
.site-color-background{
	background-color:purple;
}
.site-color-foreground{
	color:purple;
}
.white-background{
	background-color:white;
}
.white-foreground{
	color:white;
}

.container-headers{
	font-size:150%;
	margin:0px;
	font-weight:normal;
	display:block;
	padding:1%;
}
.follow-button,.unfollow-button{
	
}
.follow-button{
	background-color:white;
	color:grey;
}
.unfollow-button{
	background-color:#0d47a1;
	color:white;
}
.follow-button,.unfollow-button,.waiting-follow-button{
	cursor:pointer;
	margin-top:5px;
	text-align:center;
	margin-right:5px;
	border:2px solid #F5F5F5;
	padding:5px 15px 5px 15px;
	border:1px solid #E3E3E3;
	border-radius:5px;
	font-size: 15px;
}
.follow-button:hover,.unfollow-button:hover,.waiting-follow-button:hover{
	font-size:17px;
}

.waiting-follow-button{
	background: white url('../resrc/gifs/lazy-loading.gif') center no-repeat;
}


.time{
	color:grey;
	font-size:80%;
	text-align:right;
}


.operation-report-container,.operation-fail-container{
	text-align:center;
	font-size:100%;
	width:80%;
	margin:auto;
	margin-bottom:5px;
	margin-top:2%;
	margin-bottom:2%;
	padding:5%;
	line-height:100%;
	border: 1px solid #E3E3E3;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.05) inset;
}
.operation-report-container{
	background-color:#F5F5F5;
}
.operation-fail-container{
	color:red;	
	background-color:rgba(200, 0, 0, 0.05);
}

/*Sidebar*/
#sidebar-wrapper{
		font-size:80%;
		/*letter-spacing: 1px;*/
		background-color:inherit;
	}
#sidebar-original{
	background-color:inherit;
}
	.sidebar-headings{
	display:block;
	font-size:150%;
	margin:0px;
	padding:2% 0px 2% 0px;
	font-weight:normal;
	color:purple;
}
.account-nav-container{
	background-color:white;
	width:90%;
	margin:3px 5% 10px 5%;
	border: 1px solid #E3E3E3;
	border-top:none;
}

	.account-nav-link{
		padding:3% 3% 3% 10%;
		color:black;
	}
.account-nav-link{
		padding:3% 3% 3% 10%;
	}
	.username{
	display:block;
	text-transform:uppercase;
	text-align:center;
	font-weight:normal;
}
#cta-status-container{
	width: 98%;
	padding:2% 1% 2% 1%; 
	font-size:90%;
	text-align:center;
	box-shadow:0px 3px 3px rgba(0,0,0,0.05) inset;
}
.cta-status-link{
	display:block;
	width:70%;
	margin:auto;
	padding:2% 5% 2% 5%;
	margin-bottom:10px;
	border-radius:3px;
	background-color:#0d47a1;
	color:blue;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	box-shadow:0px 5px 5px rgba(0,0,0,0.1) inset;
}
.cta-status-link:hover{
	text-decoration:none;
	opacity:0.8;
	font-size:105%;
}
#side-bar-countdown-container{
	min-height:20px;
	margin:auto;
	margin-bottom:5px;
}
.time-figures-countdown-container{
	display:inline-block;
	background-color:white;
	color:green;
	font-weight:bold;
	font-size:120%;
	border-radius:2px;
	margin:0.5px;
	width:10%;
	height:10px;
	padding:10px;
	text-align:center;
	box-shadow:0px 3px 3px rgba(0,0,0,0.1) inset;
}
#upload-btn{
width:70%;
margin:auto;
padding:5%;
text-align:center;
cursor:pointer;
background-color:purple;
color:white;
border:none;
border-radius: 10px;
font-weight:bold;
}

.account-nav-link{
	display:inline-block;
	width:85%;
}
.account-nav-link:hover{
	text-decoration:none;
	color:purple;
	font-size:105%;
}
#category-container{
	width:92%;
	overflow-y:hidden;
	padding-left: 2%;
}
#categories{
padding:3%;
cursor:default;
color:grey;
display:block;
font-weight:bold;
}



.btn-dropdown{
width:92%;
margin-top:5px;
text-align:left;
color:#eeeeee;
cursor:pointer;
padding:4%;
margin-bottom:2px;
border-radius:1px;
}
/* all btn-dropdown but #all-btn-dropdown*/
.btn-dropdown:not(#all-btn-dropdown){
	background-color:grey;
}
#all-btn-dropdown{
	font-size:80%;
	text-align:right;
	color:grey;
}

div.dropdowns{
width:100%;
display:none;
}

a.dropdown-menu{
text-align:left;
width:90%;
display:block;
background-color:#eeeeee;
color:purple;
margin-bottom:1px;
padding:3%;
border-bottom:1px solid white;

}
a.dropdown-menu:hover{
text-decoration:none;
background-color:#DDD;
}



/*Icons*/
.white-icon{
	display: inline-block;
width: 16px;
height: 14px;
line-height: 14px;
margin-top:1px;
vertical-align: text-top;
	background-image:url("http://192.168.173.1/shelter/resrc/white-icons.png");
}
.black-icon{
display: inline-block;
width: 16px;
height: 14px;
line-height: 14px;
margin-top:1.5px;
vertical-align: text-top;
	background-image:url("http://192.168.173.1/shelter/resrc/black-icons.png");
}
.arrow-down, .arrow-up{
margin-right:20px;
display: inline-block;
width: 14px;
height: 14px;
margin-top:0px;
background-image:url("http://192.168.173.1/shelter/resrc/black-icons.png");
}
#all-arrow{
	float:right;
}
.arrow-down,.arrow-up{
	vertical-align:text-bottom;
}
.arrow-up{
	background-position: -288px -120px;
}
.arrow-down{
	background-position: -312px -120px;
}
#category-icon{
background-position: -240px 0px;
}
#flat-icon,#sc-icon,#wing-icon,#others-icon{
background-position: 0px -24px;
}
.follow-icon,.plus-icon{
	background-position: 0px -96px;
}
.unfollow-icon,.minus-icon{
	background-position: -24px -96px;
}
.user-icon{
		background-position: -168px 0px;
}
.refresh-icon{
	background-position:-216px -24px
}
.bell-icon{
	background-position:-48px -144px;
}
.time-icon{
	background-position: -48px -24px;
}
.status-icon{
	background-position: -72px -96px;
}
.eye-icon{
	background-position: -96px -120px;
}
.see-more-icon{
	background-position: -120px -72px;
}
.love-icon{
	background-position: -96px 0px;
}
.report-icon{
	background-position: -24px -144px;
}
.price-icon{
	background-position: -72px 112px;
}
.min-payment-icon{
	background-position: -120px 223px;
}
.comment-icon{
	background-position: -240px 675px;
}
.location-icon{
	background-position:-24px -72px;
}
.edit-icon{
	background-position: 0px -72px;
}
.message-icon{
	background-position: -72px 0px ;
}
.search-result-icon{
	background-position:-360px -96px;
}
.outbox-icon{
	background-position: -288px -144px;
}
.inbox-icon{
	background-position: -312px -144px;
}
.user-icon{
		background-position: -168px 0px;
}
.warning-icon{
	background-position: -144px -120px;
}
.delete-icon{
	background-position:-456px 0px;
}
.recycle-icon{
	background-position:-240px -24px;
}
.flag-icon{
	background-position:-312px -24px;
}
.tick-icon{
	background-position:-288px 0px
}
.cross-icon{
	background-position: -312px 0px;
}
.camera-icon{
	background-position: -120px -48px;
}
.upload-icon{
background-position: -288px -144px;
}
.not-allowed-icon{
background-position: -216px -96px;	
}
/*smartphone*/
@media only screen and (max-width: 800px){
#sidebar-wrapper{
	display:none;
	float:left;
	height:1px;
}
#sidebar-original{
	position:fixed;
	overflow-y:scroll;
	background-color:inherit;
	height:90%;
	width:98%;
	}
.cta-expiry-notice{
	width:98%;
}
}
@media only screen and (min-device-width: 800px) and (min-width: 300px) and (max-width: 800px){
#sidebar-original{
	width:50%;
	}	
}

/*Tab and Desktop*/
@media only screen and (min-device-width: 800px){
	/*In Tab or desktop, width should no be minimized less than 300px, overflow the body otherwise*/
	html{
		min-width:500px;
	}
	.cta-expiry-notice{
			display:none;
		}

}
@media all and (min-width: 800px){
	body{
		width:100%;	
	}
	#sidebar-wrapper{
		display:block;
	width:20%;
	height:1px;/*Without this height, this element won't show*/
	float:left;
}
	#sidebar-original{
	overflow:hidden;
	position:fixed;
	width:250px;
	height:90%;
	background-color:inherit;
	border:1px solid #E3E3E3;
	/*background: #F5F5F5 url('../resrc/sidebar_bg.png') repeat-y right 0;
	box-shadow:0px 5px 5px rgba(0, 0, 0, 0.05) inset;
	border-radius:2px;*/
	}
#sidebar-original:hover{
	overflow-y:scroll;
	overflow-x:hidden;
}
#hiddenTopMenu{
	display:none;
}

}



