/* Desktop version
@media screen and (min-width:1025px)*/
#mini-notification{
	width:97%;
	margin:auto;
	margin-top:20px;
	padding:2px;
}
.notice,.client-follow-notice{
	display:block;
	list-style-type:none;
	width:98%;
	margin:auto;
	margin-bottom:4px;
	cursor:default;
	border-bottom: 1px solid #E5E5E5;
}
.client-follow-notice{

}
.no-notice{
	text-align:center;
	height:20px;
	padding:2%;
	color:purple;
}
.since{
	text-align:right;
	color:grey;
	font-size:80%;
}
.user-icon{
		background-position: -168px 0px;
}
#front-ad-wrapper{
	background: purple url('../resrc/image/advert2.jpeg') center repeat-x;
	width:96%;
	margin:auto;
	margin-top:10px;
	color:#6D0AAA;
	text-align:center;
}
#front-ad{
	width:100%;
	height:80px;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
	#mini-notification{
	margin-top:0px;
}
	.notice,.client-follow-notice{
	width:90%;
	padding:2%;
	margin:auto;
	border:3px solid #E5E5E5;
	margin-bottom:7px;
	
}
#front-ad{
	height:300px;
}

div.agents-snipet{
	display:none;
}
#top-nav-bar-content-on-scroll-content,#top-nav-bar-content-on-scroll{
	background-color:white;
	box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
	padding:1%;
	margin-top:0px;
}
#agents-snipet-search-input-mobile{
	width:85%;
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:10px;
	padding:5%;
	background-color:rgba(236, 87, 236, 0.2);
	border:none;
}
button.on-scrolltop-button{
	padding:2%;
	background-color:inherit;
	color:purple;
	border:none;
	border-radius:5px;
	width:32%;
	margin:auto;
	font-size:100%;
}
#search-box{
	width:92%;
	margin:auto;
	padding:2%;
	font-size:100%;
	border:3px solid #E5E5E5;
}

#about-container{
	display:inline-block;
	font-family:Georgia;
	width:94%;
	margin:auto;
	padding:3%;
	padding-top:0px;
	/*background-color:#F5F5F5;
	border: 1px solid #E3E3E3;
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.05) inset;*/
}
h1#about-head{
	font-weight: normal;
	font-size:300%;
	margin:50px 0px 0px 0px;
	letter-spacing:5px;
	line-height:100%;
	color:purple;
}
p#about{
	font-size:120%;
	line-height:150%;
}
h1#recent-uploads-head{
	color:purple;
	letter-spacing:5px;
	font-size:200%;
	text-align:center;
	font-weight: normal;
}

span.quote{
	font-size:500%;
}
#filter-selection{
	display:block;
	width:50%;
	margin:auto;
	margin-bottom:20px;
	border:2px solid #6D0AAA;
	border-radius:10px;
	padding:20px;
	padding-left:25%;
	background-color:white;
	color:#6D0AAA;
	font-size:110%;
	
}
#suggested-agents-search-container-mobile{
	width:80%;
	max-height:500px;
	padding:5%;
	border-bottom: 2px solid #6D0AAA;
	margin-top:5px;
}
li.agents-list{
	padding:15px;
}
/*Styles for most viewed starts here*/
div#most-viewed-wrapper{
	display:none;
}

}
@media only screen and (min-device-width: 1000px){
	div.recent-uploads-container{
	width:39.5%;
	margin-left:0.5%;
	float:left;
}
#search-box{
	width:92%;
	padding:2%;
	margin:auto;
	margin-top:5px;
}
h1#search-head{
	color:white;
	font-family:Georgia;
	font-size:250%;
	font-weight:normal;
	letter-spacing:2px;
}
#about-container{
	font-family:Georgia;
	width:90%;
	padding:5%;
	padding-top:0px;
	/*background-color:#F5F5F5;
	border: 1px solid #E3E3E3;
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.05) inset;*/
}

h1#about-head{
	font-weight: normal;
	font-size:300%;
	letter-spacing:5px;
	line-height:100%;
	color:purple;
}
h1#recent-uploads-head{
	letter-spacing:3px;
	color:purple;
	font-size:200%;
	text-align:center;
	font-weight: normal;
}
p#about{
	font-size:90%;
	line-height:200%;
	letter-spacing:1px;
}
#agents-snipet-search-input-desktop-wrapper{
	background-color:white;
	border-radius:4px;
}
#agents-snipet-search-input-desktop{
	width:70%;
	margin-right:2px;
	padding:5%;
	border:none;
	text-shadow:none;
}
#loading-gif{
	width:8%;
	
}
#suggested-agents-search-container-desktop{
	width:250px;
	max-height:250px;
}
li.agents-list{
	padding:5px;
}
}

li{
	width:inherit;
}
/*section 1*/

/*section 2*/
#filter-selection{
	border-radius:5px;
	padding:2px;
	padding-left:15%;
	background-color:white;
	color:#6D0AAA;
	
}

 /*section 3*/
div.agents-snipet{
	float:left;
	width:39.5%;
	margin-left:0.5%;
	min-height:500px;
	background-color:inherit;
	margin:auto;
	margin-top:2px;
}
div#most-viewed-wrapper{
	float:left;
	width:40%;
	margin-top:20px;
	margin-right:5px;
	min-height:100px;
}
#most-viewed-heading{
	font-weight:normal;
	text-align:center;
	margin:0px;
	padding:2%;
	background-color:white;
}
li.most-viewed-list{
	list-style-type:none;
	padding:2%;
	background-color:#F7F7F7;
	margin-bottom:2px;
	border-radius:4px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
}
div#agents-list-wrapper{
	float:left;
	width:55%;
	overflow:hidden;
   
}
div#agents-list-wrapper,div#most-viewed-wrapper{
	 border: 1px solid #CECECE;
}
div#agents-list-container,div#most-viewed-container{
	 padding:5px;
}

div#agents-list-container:hover{
	
}

ul#agents-list-container{
	padding-left:2px;
	margin-right:5px;
	/*background-color:#DDDEEE;*/
}
li.agents-list{
background-color:#F7F7F7;
	margin-bottom:2px;
	border-radius:4px;
display:inline-block;
width:98%;
list-style-type:none;	
}
a.agents-list{
	color:black;
	
}
li.agents-list:hover{
background-color:#DDD;
}
a.agents-list:hover{
	text-decoration:none;
}
.extra-info{
	margin:0px;
	margin-top:2px;
	color:grey;
	text-align:left;
	font-size:80%; 
}
.agent-avatar{
	background-position:-432px 0px;
}
.suggested-agents-search-container{
	margin-left:10%;
	margin:auto;
	display:none;
}
.search-whatsup{
	text-align:center;
}
.search-result-icon{
	background-position:-360px -96px;
}

/*
.advertlink:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
*/

