/* Desktop version
@media screen and (min-width:1025px)*/

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
div.agents-snipet{
	display:none;
}
#agents-snipet-search-input-mobile{
	width:95%;
	margin:auto;
	padding:5%;
	border:2px solid #6D0AAA;
}
button.on-scrolltop-button{
	padding:2%;
	background-color:grey;
	color:white;
	border:none;
	border-radius:5px;
	width:32%;
	margin:auto;
	font-size:80%;
}
#suggested-agents-search-container-mobile{
	width:80%;
	max-height:500px;
	padding:5%;
	border-bottom: 2px solid #6D0AAA;
	margin-top:5px;
}
li.agents-list{
	padding:15px;
}
}
@media only screen and (min-device-width: 1000px){
	div.recent-uploads-container{
	width:39.5%;
	margin-left:0.5%;
	float:left;
}
#agents-snipet-search-input-desktop{
	width:95%;
	margin:auto;
	padding:3%;
}
#suggested-agents-search-container-desktop{
	width:400px;
	max-height:250px;
}
li.agents-list{
	padding:5px;
}
}

li{
	width:inherit;
}
/*section 1*/

/*section 2*/
#search-box{
	width:92%;
	padding:2%;
	font-size:90%;
	background-color:white;
	border-radius:5px;
	margin:auto;
	margin-bottom:5px;
	margin-top:5px;
}
 /*section 3*/
div.agents-snipet{
	float:left;
	width:39.5%;
	margin-left:0.5%;
	min-height:500px;
	background-color:white;
	margin:auto;
	margin-top:70px;
	box-shadow:1px 3px 2px 2px grey;
}

#front-image{
	background: white url('../resrc/image/advert2.jpeg') center repeat-x;
	height:80px;
	width:100%;
	border-radius:5px;
	margin:auto;
	color:#6D0AAA;
	text-align:center;
}

div#agents-list-container{
	overflow:hidden;
}
div#agents-list-container:hover{
	
}

ul#agents-list-container{
	padding-left:2px;
	margin-right:5px;
	background-color:#DDDEEE;
}
li.agents-list{
background-color:white;
display:inline-block;
width:97%;
list-style-type:none;	
margin-bottom:1px;
}
a.agents-list{
	color:grey;
	
}
li.agents-list:hover{
background-color:#DDD;
}
a.agents-list:hover{
	text-decoration:none;
}
.agent-avatar{
	background-position:-432px 0px;
}
.suggested-agents-search-container{
	margin-left:10%;
	margin:auto;
	display:none;
}
.search-whatsup{
	text-align:center;
}
.search-result-icon{
	background-position:-360px -96px;
}

/*
.advertlink:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
*/

