/* Desktop version
@media screen and (min-width:1025px)*/
img.front-image{
	display:inline-block;
	/*width:100px;
	height:150px;*/
	border:none;
}
#mini-notification{
	width:99%;
	margin:auto;
	margin-bottom:2%;
	line-height:100%;
	border: 1px solid #E3E3E3;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.05) inset;
}
.notice,.client-follow-notice{
	display:block;
	list-style-type:none;
	width:98%;
	margin:auto;
	margin-bottom:4px;
	padding:1%;
	cursor:default;
	background-color:white;
	border-bottom: 1px solid #E5E5E5;
}
.client-follow-notice{

}
.no-notice{
	text-align:center;
	height:20px;
	padding:2%;
	color:purple;
}
.since{
	text-align:right;
	color:grey;
	font-size:80%;
}

#front-ad-wrapper{
	width:100%;
	margin:auto;
	margin-top:10px;
	color:#6D0AAA;
	text-align:center;
}
#front-ad{
	display:block;
	width:100%;
	height:80px;
	border:1px solid #E3E3E3;
}
.home-headings{
		font-weight:normal;
		letter-spacing:2px;
		color:purple;
		font-size:150%;
		margin:0px;
		padding:2%;
	}
#search-mv-agent-container,#search-box-ad-container,.agents-snipet{
	height:320px;
}

#search-mv-agent-container{
	width:99%;
	border:1px solid #e8f5e9;
}
#search-box-ad-container{
		float:left;
		width:59%;
}
#search-box{
	width:95%;
	padding:2%;
	margin:auto;
	/*background-color:rgba(236, 87, 236, 0.2);*/
	margin-top:5px;
}

#front-ad-wrapper{
	width:100%;
}
#front-ad{
	width:100%;
	height:150px;
}
#about-container{
	background-color:white;
	font-family:Georgia;
	text-align:center;
	margin:auto;
	padding-top:0px;
	margin-top:2px;	
	border: 1px solid #E3E3E3;
	/*box-shadow:0px 1px 1px rgba(0, 0, 0, 0.05) inset;
	background-color:rgba(129, 1, 129, 0.8);
	padding:2% 2% 5% 2%;*/
}
/*Only in desktop*/
div.agents-snipet{
	float:left;
	width:40%;
	margin-left:1%;
	background-color:inherit;
}
#most-viewed-wrapper{
	height:250px;
	
}
#most-viewed-wrapper:hover{
	width:31%;
	height:80%;
	position:absolute;
	overflow-y:scroll;
	box-shadow:1px 5px 5px 2px rgba(0,0,0,0.5);
}
.ul-wrapper{
	padding:1%;
}
div#agents-list-wrapper,div#most-viewed-wrapper{
	 border: 1px solid #E3E3E3;
	 background-color:white;
}

div#most-viewed-wrapper{
	float:left;
	width:100%;
	margin-right:5px;
	min-height:100px;
	overflow:hidden;
}
#search-heading,#most-viewed-heading,#agents-heading,#recent-uploads-heading{
	font-weight:normal;
	font-size:150%;
	text-align:left;
	margin:0px;
	height:30px;
	padding:2%;
	background-color:#e1bee7;
	color:purple;
}
.most-viewed-list{
	width:99%;
	padding:2% 0px 2% 1%;
	background-color:white;
}
div#agents-list-wrapper{
	width:96%;
	margin:auto;
	margin-bottom:20px;
}


#agents-list-container{
	padding:0px;
}
.agents-list{
background-color:white;
	display:block;
	padding:10px;
	padding-bottom:20px;
}
.most-viewed-list,.agents-list{
	border-bottom:1px solid #E3E3E3;
}
a.agents-list{
	color:black;	
}
li.agents-list:hover{
background-color:#DDD;
}
a.agents-list:hover{
	text-decoration:none;
}
.extra-info{
	margin:0px;
	margin-top:2px;
	color:grey;
	text-align:left;
	font-size:80%; 
}
.agent-avatar{
	background-position:-432px 0px;
}
.suggested-agents-search-container{
	margin:auto;
	display:none;
}
.search-whatsup{
	text-align:center;
	margin-bottom:20%;
	color:red;
}

/*Only in desktop ends*/


#suggested-agents-search-container-desktop{
	width:250px;
	max-height:250px;
}

@media all and (min-device-width: 800px),
(min-width: 800px){
		div.recent-uploads-container{
	width:79%;
	padding-left: 1%;
}
#top-nav-bar-content-on-scroll-content{
	display:none;
}
	}

@media all and (max-device-width: 800px),
 (max-width:800px){
		div.recent-uploads-container{
	width:100%;
	padding: 0px;
}
#top-nav-bar-content-on-scroll,#top-nav-bar-content-on-scroll-content{
	width:100%;
	background-color:white;
}
#top-nav-bar-content-on-scroll{
	display:none;
	box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.4);
}
span.on-scrolltop-menu{
	display:inline-block;
	color:black;
	width:21%;
	margin:0px;
	padding:2% 5% 2% 5%;
	text-align:center;
}
div.agents-snipet{
	display:none;
}
#search-box-ad-container{
		width:100%;
}
}



