#shelter{
	color:white;
	font-size:150%;
}
.main-login{
	min-height:400px;
	width:60%;
	margin:auto;
}
.login-form{
	padding:5%;
	background-color:white;
	width: 50%;
	margin:auto;
	border:none;
	box-shadow:5px 5px 5px 5px white;
	font-size:120%;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
body{
		background-color:#eeeeee;
	}
	.main-login{
	width:100%;
	margin:auto;
}
.login-form{
	padding:2%;
	background-color:white;
	width: 90%;
	height:800px;
	padding-top:200px;
	margin:auto;
	border:none;
	border-radius:5px;
	box-shadow:5px #333;
}
#login-input-area{
	padding:20px;
	width:80%;
	margin:auto;
	text-align:center;
	border:2px solid grey;
}
}

@media only screen and (min-device-width: 1000px){
	body{
		background-color:#6D0AAA;
	}
	.main-login{
	min-height:400px;
	width:60%;
	margin:auto;
}
.login-form{
	padding:5%;
	background-color:white;
	width: 50%;
	margin:auto;
	border:none;
	border-radius:5px;
}
#login-input-area{
	padding:20px;
	width:80%;
	margin:auto;
	text-align:center;
	border:1px solid grey;
}
}



input.input,#login-button{
	width:80%;
	margin:auto;
	padding:5%;
	display:block;
	margin-top:5px;
}

#login-button{
cursor:pointer;
background-color:#6D0AAA;
color:white;
border:none;
font-size:120%;
border:none;
border-radius:3px;
letter-spacing:0.5em;
}
#login-button:hover{
	background-color:grey;

}
#foot{
	color:white;
}
#login-error{
	color:red;	
}
