#shelter{
	color:white;
	font-size:150%;
}
.main-login{
	min-height:400px;
	width:60%;
	margin:auto;
}
.login-form{
	padding:5%;
	background-color:#F5F5F5;
	margin:auto;
	border:none;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
body{
		background-color:#eeeeee;
	}
	.main-login{
	width:100%;
	margin:auto;
}
.login-form{
	padding:2%;
	width: 90%;
	min-height:600px;
	margin:auto;
	border:none;
	border-radius:5px;
}
#login-input-area{
	width:95%;
	padding:2.5%;
	min-height:800px;
	margin:auto;
	text-align:center;
}
}

@media only screen and (min-device-width: 1000px){
	body{
		background-color:#6D0AAA;
	}
	.main-login{
	min-height:400px;
	width:60%;
	margin:auto;
}
.login-form{
	padding:5%;
	width: 50%;
	margin:auto;
	border:none;
	border-radius:3px;
}
#login-input-area{
	padding:20px;
	width:90%;
	margin:auto;
	text-align:center;
	border-radius:3px;
}
}



input.input,#login-button{
	width:80%;
	margin:auto;
	padding:5%;
	display:block;
	margin-top:10px;
	border:none;
}
input.input{
	border-radius:4px;
}
#login-button{
cursor:pointer;
background-color:purple;
color:white;
border:none;
font-size:120%;
border:none;
border-radius:3px;
letter-spacing:0.5em;
margin-top:30px;
}
#login-button:hover{
opacity:0.8;

}
#foot{
	color:white;
}

