/*Index style*/
#whole-page{
width:100%;
min-height:600px;
}
#manage{
	width:70%;	
	margin:auto;
}
#manage-acct{
	float:left;
	width:50%;
	min-height:300px;
}
#manage-prop{
	float:left;
	width:50%;
	min-height:300px;
}


ul{
	list-style-type:none;
}
li.link:hover{
	text-decoration:underline;
}
div#hidden-form{
	display:none;
}

.property-photo{
		width:200px;
		height:200px;
		margin-right: 10px;
	}
fieldset{
		border:2px solid #6D0AAA;
	}
legend{
		font-size:20px;
	}
#deletebtn,#deactivatebtn{
		margin-left:75%;
		cursor:pointer;
		font-weight:bold;
		color:white;
		background-color:red;
		border:none;
	}
#deactivatebtn{
		width:200px;
		height:20px;
	}
#deletebtn{
		width:80px;
		height:30px;
	}
	div#edit-area,div#images-area{
		width: 70%;
		margin-left:15%;
		margin-right:15%;
	}
	.edit-link{
		color:blue;
		margin-left:20%;
		cursor:pointer;
	}
	.edit-link:hover{
		text-decoration:underline;
	}
	div.edit-box{
		display:none;
	}
	.dumb-input{
		display:none;
	}