
ul{
	margin:0px;
	padding:0px;
}

li.other-agents-list{
	list-style-type:none;
	padding:10px 2px;
	color:black;
	margin-bottom:2px;
}

	.contacts-wrapper,.stats-wrapper,.address-wrapper{
		background-color:white;
		color:grey;
		margin-top:10px;
	}
.uploads-wrapper{
		margin-top:10px;	
	}
@media all and (max-width:992px){

	.contacts-wrapper>div>span,.stats-wrapper>div>div>span{
border-bottom:1px solid #e3e3e3;
padding:5px;
	}
}


