hr{
	background-color:purple;
}
.left{
	width:85%;
	float:left;
}
.right{
	width:15%;
	float:left;

}
.maincontent{
	float:left;
	margin:20px;
	width:85%;
}
#biz-logo{
	float:left;
}
#about-biz{
	float:left;
	padding-left:20px;
}
.profile-buttons{
	cursor:pointer;
	color:white;
	background-color:#6D0AAA;
	border:none;
	border-radius:2px;
	padding:5px;
}
#edit-icon{
	background-position: 0px -72px;
}
#follow-icon{
	background-position: 0px -96px;
}
#unfollow-icon{
	background-position: -24px -96px;
}
#message-icon{
	background-position: -72px 0px ;
}
.recent-uploads{
	width:80%;
	margin:auto;
	padding:10px;	
	min-height:400px;
}

.editbutton{
	width:100%;
	color:white;
	border:0px;
	cursor:pointer;
	border-radius:15x 2px 15px 2px;
}
.editbutton:hover{
	background-color:purple;
	color:white;
}

