/*
@media screen and (min-width:1025px)*/
	.propertybox{
	padding-bottom:5px;
}
.propertybox,.mini-propertybox,.mini-propertybox-in-profile,.in-between-advert{
	margin-bottom:5px;
}
.propertybox,.mini-propertybox{	
	font-size:100%;
}
.propertybox,.home-property-box{
	background-color:white;
	margin:auto;
	margin-bottom:10px;
	border:1px solid #E3E3E3;
	}
.property-box{
	width:95%;
}
.home-property-box{
display:inline-block;
width:32%;	
}
	.property-heading-container{
		padding:1%;
		height:30px;
	margin-bottom:5px;
	border-bottom:1px solid #E3E3E3;
}
.property-heading,.mini-heading{
	display:inline-block;
	font-size:110%;
	color:purple;
	font-weight:normal;
}
.match-indicator{
	font-style:italic;
	font-size:70%;
	color:#004d40;
	margin-left:0%;

}
.image-info{
	height:100%;
	width:95%;
	margin:auto;
}

.status{
	display:inline-block;
	padding:1%; 
	background-color:#F5F5F5;
	border:1px solid #E3E3E3; 
	border-radius:1px;
	margin:0px 0px 2px 10px;
	background-color:white;
	font-weight:normal;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03) inset;
	}
	.available-property{
color:green;
	}
	.unavailable-property{
	color:red;	
	}
.unavailable-property{

}
.property-address{
		padding:5px 0px 5px 0px;
	}
.infobox{
	line-height:200%;
	padding-top:5px;
}	
.imagebox{ 
	height: 200px; 
}
.home-imagebox{
	height:200px;
}

#bath-loo-wrapper{
padding:2%;
text-align:center;
}
#bath,#loo{
	margin:10px;
}
.rent-figure,.mv-rent-figure{
	display:inline-block;
	margin:auto;
	text-align:center;
	padding:1%;
	padding-left:3%;
	padding-right:3%;
	background-color:yellow;
	color:purple;
	border-radius:5px;
	font-family:Georgia;
	font-size:100%;
	font-weight:bold;
box-shadow: 0px 3px 3px rgba(236, 87, 236, 0.5) inset;
}
.review-link{
	float:right;
	padding:1.5% 2% 1.5% 2%;
	margin-left:5%;
}
.review-link:hover{
background-color:#f7f7f7;
	border:1px solid #e3e3e3;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03) inset;
}
.rent-figure-on-profilepage{
	display:block;
	
}
.mini-propertybox,.mini-propertybox-in-profile{	
	background-color:white;
	border:1px solid #E3E3E3;
}
.mini-propertybox{
	width:100%;
}
.mini-propertybox-in-profile{
	display:inline-block;
	width:32%;
	max-height:300px;
}

.mini-image{
	display:inline-block;
	vertical-align:top;
	width:40%;
	margin:5px;
	height:100px;
}
.mini-info{
	display:inline-block;
	width:55%;
}
.mini-detail{
	display:block;
	line-height:200%;
}
.payment-required{
	height:100px;
}


.in-between-advert{
	display:block;
	height:100px;
	width:98%;
	margin:auto;
}

span.detail{
	display:block;
}
.comment{
	color: #6D0AAA;
	margin-left:30px;
	margin-right:30px;
	text-decoration:blink;
}
.like-pane{
	font-size:80%;
	min-height:45px;
	width:100;
	margin:auto;
}


a.options,a.options-on-homepage,a.options-on-profilepage{
	display:inline-block;
	height:25px;
	cursor:pointer;
	color:black;
	text-align:center;
	margin-bottom:3px;
}
a.options{
	width:70px;
}
a.options-on-homepage{
	width:80px;
	margin:0px 5px 0px 5px;
}
a.options-on-profilepage{
	width:90px;
}
a.disabled{
	
}
a.options:hover,a.options-on-homepage:hover{
	color:purple;
	font-size:105%;
	text-decoration:none;
}
.contact-icon{
	background-position: -168px 0px;
}
.agent-contacts-box{
	position:absolute;
	background-color:white;
	width:250px;
	padding:10px;
	padding-left:10px;
	border-radius: 2px;
	box-shadow:0px 8px 8px rgba(0, 0, 0, 0.3);
}
.agent-contacts-box>h4{
	font-size:120%;
	color:purple;
	font-weight:normal;
	padding: 5px 0px 5px 0px;
}
.agent-contacts-box>ul>li{
	list-style-type: none;
	color:black;
}
.agent-contacts-box>div>a{
	padding: 2% 4% 2% 4%;
	background-color:purple;
	color:white;
	border-radius: 4px;
	margin: 2px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05) inset;
}
.agent-contacts-box>div>a:hover{
	text-decoration: none;
}
.agent-contacts-box>div>p{
	color:grey;
	font-size:80%;
	margin-top: 5px;
}
div.no-property{
	color:red;
	font-size:110%;
	line-height:200%;
	margin-top:30px;
	width:70%;
	margin:auto;
	margin-bottom:5%;
	padding:10%;
	line-height:100%;
	text-align:center;
	background-color:#F5F5F5;
	border: 1px solid #E3E3E3;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.05) inset;
	/*box-shadow:0px 1px 10px rgba(0, 0, 0, 0.05) inset;*/

}
@media only screen and (max-width: 550px){
.home-property-box{
display:block;
width:100%;	
margin-bottom:0.5%;
}
.mini-propertybox-in-profile{
	display:block;
	width:100%;
	max-height:300px;
}
.review-link{
background-color:#f7f7f7;
	border:1px solid #e3e3e3;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03) inset;
}
}

@media only screen and (min-width:550px) and (max-width: 1100px){
	.home-property-box{
display:inline-block;
width:48%;	
margin:0.5%;
}
.mini-propertybox-in-profile{
	display:inline-block;
	width:48%;
	max-height:300px;
}
}
@media only screen and (min-width: 1100px){
	.home-min-payment-detail{
	height:60px;
}
.home-description-container{
	display:none;
}
}