/*
@media screen and (min-width:1025px)*/

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
	.propertybox{
		margin:auto;
		margin-bottom:15px;
	}
.imagebox{ 
	height: 600px; 
}
.infobox{
	line-height:200%;
}	
a.options{
	height:70px;
	padding-top:10px;
	width:220px;
	margin-left:5px;
	background-color:#DDD;
}
.bath-toilet{
	height:40px;
	margin:0px;
	margin-bottom:20px;
}
#agent-contacts{
	display:none;
}

.mini-propertybox{
	margin-left:10px;
	width:95%;
	height:300px;
	margin:auto;
	box-shadow:2px 2px 2px 2px grey;
	background-color:white;
	margin-bottom:10px;
}
.mini-image{
	width:30%;
	height:100%;
	float:left;
}
.mini-info{
	width:65%;
	float:left;
	margin-left:5%;
}
.mini-detail{
	display:block;
	padding:10px;
}
}
@media only screen and (min-device-width: 1000px){
.propertybox{
	margin:auto;
		margin-bottom:10px;
	}
	.propertybox:hover{
	box-shadow:1px 5px 5px 0px grey;
}
.infobox{
	line-height:200%;
}
.imagebox{ 
	height: 300px; 
}
a.options{
	height:25px;
	width:100px;
}
.bath-toilet{
	height:20px;
	margin:0px;
	margin-bottom:10px;
}
.mini-propertybox{
	margin-left:10px;
	width:95%;
	height:120px;
	box-shadow:1px 1px 1px 1px grey;
	background-color:white;
	margin-bottom:10px;
}
.mini-image{
	width:30%;
	height:100%;
	float:left;
}
.mini-info{
	width:65%;
	float:left;
	margin-left:5%;
}
.mini-detail{
	display:block;
}
}
	.propertybox{
	font-size:100%;
	background-color:white;
	padding-bottom:5px;
	width:90%;
	padding: 2%;
	font-weight:normal;
	
}

.image-info{
	height:100%;
	width:90%;
	margin:auto;
}
.property-heading{
	display:block;
}

.status{
	float:right; 
	}

.bath-toilet-btn{
	width:47%;
	border:0px;
	border-left: 2px solid #6D0AAA;
	margin-left:5px;
}
.infobox{
	font-size:95%;
}
span.detail{
	display:block;
}
.comment{
	color: blue;
	margin-left:30px;
	margin-right:30px;
	text-decoration:blink;
}
.like-pane{
background-color:white;
	font-size:80%;
	min-height:45px;
	width:99%;
	margin:auto;
}

#price{
	background-position: -72px 112px;
}
#min{
	background-position: -120px 223px;
}
#com{
	background-position: -240px 675px;
}
.time{
	color:grey;
	font-size:80%;
}
#date{
	background-position: -48px -24px;
}
#status{
	background-position: -72px -96px;
}
#eye{
	background-position: -96px -120px;
}
#see-more{
	background-position: -336px -96px;
}
#like{
	background-position: -96px 0px;
}
#report{
	background-position: -24px -144px;
}

.options,.status{
	display:inline-block;	
}
a.options{
	cursor:pointer;
	background-color:white;
	color:grey;
	border:1px solid grey;
	text-align:center;
	padding:2px;
	margin-bottom:3px;
	font-weight:bold;
}
a.disabled{
	
}
a.options:hover{
	background-color:#EEEEEE;
	text-decoration:none;
}
#contact-agent{
	background-position: -168px 0px;
}
.agent-contacts-box{
	display:none;
	position:absolute;
	background-color:#6D0AAA;
	color:white;
	border-radius: 0px 0px 5px 5px;
	padding-right:10px;
	padding-left:10px;
	margin-left:30%;
	font-weight:bold;
}
div.no-property{
	margin-top:30px;
	width:70%;
	margin:auto;
	padding:10%;
	line-height:100%;
	background-color:white;
	border-radius:5px;
	color:grey;
	text-align:center;
}
