
.property-photo{
		width:220px;
		height:220px;
		margin: 1px;
	}

.edit-box-container{
	background-color:;
	border:1px solid #e3e3e3;
	margin:2px 0px;
	padding:7px;
}	

.headings{
	font-weight:normal;
	font-size:150%;
	color:#20435C;
	margin:5px;
}
#legend{
		font-weight:normal;
		font-size:150%;
		color:#20435C;
	}
#legend:hover{
	text-decoration:none;
}
	.edit-link{
	cursor:pointer;
	float:right;
		padding:5px;
		border:1px solid #e3e3e3;
		background-color:#f7f7f7;
	}
	.edit-link:hover{
		text-decoration:underline;
	}
	div.edit-box{
		display:none;
		background-color:#e0f2f1;
		padding:10px;
	}
	.dumb-input{
		display:none;
	}
