
.propertybox-wrapper,.in-between-
{
	margin-bottom:5px;
}


.bath-n-loo-container{
	margin-top:5px:
}
.rent-figure{
	padding:5px;
	background-color:black;
	border-radius:5px;
	color:white;
}

.property-info{
min-height:25px;
line-height:25px;
margin:10px;
}
.rent-figure,.mv-rent-figure{
	font-size:20px;
	font-family:Georgia;
}
.agent-contacts-list>li{
	list-style-type:none;
	padding:5px 0px;
}
.options-wrapper{
	padding:5px !important;
}
.property-options{
	border:1px solid #e3e3e3;
	padding:5px;
	text-align:center;
}
.property-options>a{
	cursor:pointer;
	font-weight:bold;
	color:grey;
}
a.unclip-button{
	color: green;
}
.in-between-advert{
	display:block;
	height:200px;
	width: 99%;
	margin:auto;
	margin-bottom:5px;
}
div.no-property{
	color:red;
	font-size:110%;
	line-height:200%;
	margin-top:30px;
	width:95%;
	margin:auto;
	margin-bottom:5%;
	padding:10px;
	line-height:30px;
	text-align:center;
	background-color:#F5F5F5;
	border: 1px solid #E3E3E3;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.05) inset;
	/*box-shadow:0px 1px 10px rgba(0, 0, 0, 0.05) inset;*/

}

.other-property-images{
	width:100%;
	height:100px;
}

.no-more-images,.more-images{
	background-color:rgba(0,0,0,0.7);
	color:white;
	font-weight:bold;
}
.more-images{
		height:100px;

}
.no-more-images{
	padding:20px;
	border-radius:3px;
}
@media only screen and (min-width: 768px){
	.propertybox-wrapper{
	background-color:white;
	margin:10px 0px;
	border:1px solid #E3E3E3;
	padding:10px;
}
.property-image{
	width:100%;
	max-height:320px;
	min-height:200px;
		
}
.details-container{
	background-color:#f7f7f7;
	border:1px solid #e3e3e3;
}
}
@media only screen and (max-width: 768px){
		.propertybox-wrapper{
	background-color:white;
	margin:2px 0px;
	padding:2px;
	border:1px solid #E3E3E3;
}
.property-image{
	width:90%;
	margin:0px 5%;
	min-height:100px;
	max-height:300px;
}
.property-image-container{
	position:absolute;
}
.property-image-container>div{
		

}
.details-container{
	margin-top:80px;
	background-color:rgba(200,200,200,0.5);
}
.details-container:hover{
	box-shadow:0px 10px 10px #555;
}
.property-info{
font-size:14px;
}

}



















