
/*Rigt hand side*/
@media only screen and (min-device-width: 1000px){
	.results{
		width:40%;
	}
div.other-search-info{
	float:left;
	width:30%;
	margin-left:2%;
	margin-top:2%;
}

div.related-results,div.contact-search-help-container{
	background-color:white;
	margin-bottom:5px;
	width:100%;
}
div#related-results-wrapper{
	padding:2%;
	background-color:rgba(236, 87, 236, 0.2);
}
div.contact-search-help-container{
	padding:2% 2% 10% 2%;
	box-shadow: 0px 2px 2px #DDD inset;
}
li.related-results-list{
	display: inline-block;
	width:96%;
	color:#000;
	padding:2%;
	border-bottom:2px solid #E5E5E5;
}
li.related-results-list:hover{
	background-color:#DDD;
	
}
a.related-results{
	color:#000;
}
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
div.other-search-info{
	width:100%;
}
div#related-results-wrapper{
	padding:1%;
	background-color:rgba(236, 87, 236, 0.2);
}
div.related-results,div.contact-search-help-container{
	padding:2%;
	width:96%;
	margin:auto;
	margin-bottom:50px;
	background-color:white;
}
div.related-results{
	background-color:rgba(236, 87, 236, 0.2);
}
div.contact-search-help-container{
	padding:2% 2% 10% 2%;
	box-shadow:  0px 3px 3px grey inset;
}
li.related-results-list{
	color:#000;
	list-style-type:none;
	padding:2%;
	border-bottom:5px solid #E5E5E5;
}


}

ul#related-results-list{
width:100%;	
padding:0px;
}
a.related-results{
	color:grey;
}
a.related-results:hover{
	text-decoration:none;
}

