
/*Rigt hand side*/
@media only screen and (min-device-width: 1000px){
div.other-search-info{
	float:left;
}

div.related-results,div.contact-search-help-container{
	box-shadow: 2px 2px 2px 2px grey;
	margin-bottom:10px;
}
li.related-results-list{
	display: block;
	padding:2%;
	border-bottom:1px solid white;
}
li.related-results-list:hover{
	background-color:#DDD;
	
}
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
div.other-search-info{
	width:100%;
}
div.related-results,div.contact-search-help-container{
	padding:2%;
	width:80%;
	margin:auto;
	margin-bottom:50px;
	box-shadow: 3px 3px 3px 3px grey;
}
li.related-results-list{
	display: block;
	list-style-type:none;
	padding:2%;
	border-bottom:4px solid white;
}


}

ul#related-results-list{
width:100%;	
padding:0px;
}
a.related-results{
	color:grey;
}
a.related-results:hover{
	text-decoration:none;
}

