#shelter{
	color:white;
	font-size:150%;
	text-align:left;
}
#shelter:hover{
	text-decoration:none;
}
input{
		display:block;
		margin-bottom:10px;
	}
@media only screen and (min-device-width: 300px) and (max-device-width: 1000px){
	.mainsignup{
	width:100%;
	}
input{
	padding:4%;
	border:1px solid grey;
	width:90%;
	border:2px solid grey;
}
#signupbutton{	
	width:250px;
	height:100px;
}
}
@media only screen and (min-device-width: 1000px){
	.mainsignup{
	width:50%;
	margin:auto;
	height:100%;}
input{
	padding:1%;
	border:1px solid grey;
	max-width:300px;
}
#signupbutton{	
	width:120px;
	height:40px;
}
}


#registration-successful,#registration-not-successful{
	margin:auto;
	background-color:white;
	width:90%;
	padding:20px;
	box-shadow:1px 3px 2px 2px grey;
	margin-bottom:10px;
}
#registration-not-successful{
	color: red;
}
#registration-successful{
	color: green;
}	
	
	
fieldset{
	padding:20px;	
	border:none;
	border-radius:5px;
}

.legend{
	font-size:120%;
	color:grey;
}
.instruction{
	color:grey;
	font-size:80%;
}
#agreement{
	color:grey;
}
#agreement-box{
	
	display:inline;
}
.Business,.personal{
	width:90%;
	margin:auto;
	background-color:white;
	color:#6D0AAA;
	margin-bottom:10px;
}
#signupbutton{
	cursor:pointer;
	background-color:white;
	color:#6D0AAA;
	font-size:120%;
	border:2px solid grey;
	border-radius:5px;
	font-weight:bold;
}
#signupbutton:hover{
	background-color:#6D0AAA;
	color:white;
}













