
#top-nav-bar{
	position:fixed;
		display:inline-block;
		width:100%;
		background-color:#6D0AAA;
		border-radius:0px 0px 10px 10px;
		box-shadow:0px 0px 20px 20px #eeeeee;
	}
#templogo{
	float:left;
	color:white;
	font-size:25px;
	padding-left:10px;
	background-color:#6D0AAA;
	border-radius:10px 10px 0px 0px;
}
div#menus{
	vertical-align:text-bottom;
	float:left;
	padding-left:50px;
}
ul.nav-bar{
	width:100%;
list-style-type:none;
background-color:#6D0AAA; 
margin:0;
padding:0;
}

li.nav-menu{
			display:inline-block;
			height:30px;
			width:100px;
			padding:10px;
			color:white;
			text-align:center;
			
		}

		li.nav-menu:hover{
		background-color:#6D0ACC;
		}
		
		
		#dropdown-container{
	float:right;
	
}
div#acct-dropdown-box{
	margin-left:0px;
	position:absolute;
	display:none;
	width:180px;
	border-radius:20px;
	box-shadow:10px 0px 10px 0px #eeeeee;
}
#acct-dropdown{
	box-shadow:10px 0px 10px 0px #eeeeee;
	margin-top:10px;
	cursor:pointer;
	margin-right:100px;
	width:120px;
	height:40px;
	
}
ul#ul{
	list-style-type:none;
	border-radius:5px;
list-style-type:none;
background-color:white;
margin-top:0;
padding:5px;
}

li.acct-dropdown-content{
	padding-left:10px;
	display:block;
	height:30px;
	border-radius:inherit;
}
.acct-dropdown-content:hover{
	background-color:#6D0CCC;
	color:white;
	
}

#user-icon{
	margin-right:10px;
	background-position: -168px 0px;
}
#arrow{
	margin-left:5px;
	background-position:0px -56px;
}
