hr{
	background-color:purple;
}
.left{
	width:85%;
	float:left;
}
.right{
	width:15%;
	float:left;

}
.maincontent{
	float:left;
	margin:20px;
	width:85%;
}
#biz-logo{
	float:left;
}
#about-biz{
	float:left;
	padding-left:20px;
}
.recent-uploads{
	width:100%;
	margin-left:10px;
	padding:10px;	
}
#edit-icon{
	background-position: 0px -72px;
}
.editbutton{
	width:100%;
	color:white;
	border:0px;
	cursor:pointer;
	border-radius:15x 2px 15px 2px;
}
.editbutton:hover{
	background-color:purple;
	color:white;
}

