
body,input,button,select,option{
		font-family: Helvetica,Georgia,"Century Gothic",Arial,sans-serif;
		font-size: 14px;
		font-weight:normal;
		line-height:1.2em;
		margin: 0px;
	}
body.pic-background{
		background-color:#EEEEEE;
	}
body.no-pic-background{
		background-color:#eeeeee;
	}
body.plain-colored-background{
	background-color:#20435C;	
	}
body.login-picture-background{
		background:  #20435C url("../resrc/mansion-large.jpeg") no-repeat;
	
	}
/*override bootstrap paddings*/
.container-fluid{
	padding:0px;
}

input.more-padding{
padding:25px;
}
.row{
	padding:0px;
	margin:0px;
	}
[class ^= col-]{
	padding:0px;	
	}
	
.scrollable-x{
	overflow-y:hidden;
	overflow-x:auto;
}
.scrollable-x>.scrollable-x-inner{
	width:1000px;
}
textarea{
	resize:none;
}
a{
	color:blue;
}
a,a.list-link{
		text-decoration:none;
	}
a:hover{
	text-decoration:underline;
	color:#20435C;
}
a.list-link:hover{
	text-decoration:none;
}
a:visited{
	
}
p,a,li,label {
line-height:2em;
}
img,.photo-container{
	background-image:url('../resrc/gifs/progress-circle.gif');
	background-repeat:no-repeat;
	background-position:center;
}
img.ads{
	border:none;
	width:100%;
	max-height:300px;
	min-height:100px;
}
img.mini-property-photo{
	width:100%;
	min-height:100px;
	max-height:300px
}
.result-container{
	width:280px;
	position:absolute;
	box-shadow:0px 5px 5px rgba(0,0,0,0.5);
	border-radius:5px;
	max-height:400px;
	overflow:auto;
	padding:5px 0px;
	z-index:90;
}
.result-list{
	padding:5px;
	border-bottom:1px solid #e3e3e3;
}
.icon-n-text>.icon{
	display:inline-block;
	width:10%;
	vertical-align:text-top;
}
.icon-n-text>.text{
	display:inline-block;
	width:90%;
}
[data-loading-content='loading']{
	background: white url('../resrc/gifs/progress-circle.gif') center no-repeat;
}
[data-loading-content='searching']{
	background: white url('../resrc/gifs/loading.gif') center no-repeat;
}
[data-loading-content='waiting']{
	background: white url('../resrc/gifs/lazy-loading.gif') center no-repeat;
}
[data-loading-content='searching'],[data-loading-content='loading']{
		min-height:100px;
}

.mv-overlay{
	position:absolute;
	width:100%;
	height:50%;
	top:25%;
	line-height:35px;
	text-align:center;
	background-color:#20435C;
	opacity:0.9;
	border-radius:5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

.major-headings{
	display:block;
	background-color:#20435C;
	border-bottom:2px solid #20435C;
	font-weight: normal;
	 font-size:20px;
	  color:white;
	  padding: 5px;
	  margin:5px 0px;
	  border-radius:3px;
}
.container-headers{
	color:#20435C;
	font-size:20px;
	margin:0px;
	font-weight:normal;
	display:block;
	padding:1%;
}

div.next-prev-container{
	height:35px;
	margin-bottom:5px;
}
.previous,.next{
	display:inline-block;
	padding:5px 10px;
	background-color:#0d47a1;
	color:white;
	border-radius:8px;
	margin-bottom:5%;
}
.previous{
	float:left;
	margin-left:2%;
}
.next{
	float:right;
	margin-right:2%;
}
.previous,.next{
	border-radius:3px;
}
.previous:hover,.next:hover{
	opacity:0.8;
}

.close:hover{
	color:red;
}

/*GIFs*/
img.gif{
	background-image:none;
	display:block;
	margin:auto;
	margin-bottom:5px;
	border:none;
}
.progress-circle,.lazy-loading{
	width:50px;
	height:50px;
}
.stairs-loading{
	width:50px;
	height:50px;
}
.progress-bar{
	width:150px;
	height:20px;
}

.continue-or-back-button-wrapper{
    height:50px;
}

.continue-or-back-button:hover,#finish-button:hover{
    text-decoration:none;
    opacity: 0.9;
}
.continue-or-back-button{
	background-color:#0D47A1;
	color:white;
	border-radius: 2px;
    margin:5px;
	padding:5px 10px;
	cursor:pointer;
	border:none;
	box-shadow:0px 7px 7px rgba(0,0,0,0.1) inset;
}
.continue-or-back-button:hover{
	opacity:0.8;
	color:white;
}
.continue{
    float:right;
}
.go-back{
    float:left;
}

.custom-button{
padding:10px 20px 10px 20px;
color:white;
border:none;
border-radius:3px;
box-shadow: 0px 3px 3px rgba(0,0,0,0.2) inset;
}
.custom-button:hover{
	opacity:0.9;
	color:white;
}
.all-corners-border-1{
	border:1px solid rgba(0,0,0,0.1);
}
.box-shadow-1{
	box-shadow: 2px 5px 12px #555;
}


.uppercase{
	text-transform:uppercase;	
}
.lowercase{
	text-transform:lowercase;	
}
/**clip buttons**/

.unclip-button{
	color: blue;
}
.clip-button{
	color:grey;
}
.clip-button:hover,.unclip-button:hover,.waiting-clip:hover{
	text-decoration: none;
}

.clip-disabled{
	cursor:not-allowed;
	color:rgba(0,0,0,0.3);
}
/*width*/
.full-width,.width-100p{
	width:100%;
}
.width-90p{
	width:90%;
}
.width-80p{
	width:80%;
}
.width-70p{
	width:70%;
}
.width-60p{
	width:60%;
}
.width-50p{
	width:50%;
}
.width-40p{
	width:40%;
}
.width-30p{
	width:30%;
}
.width-25p{
	width:25%;
}
.width-20p{
	width:20%;
}
.width-15p{
	width:15%;
}
.width-10p{
	width:10%;
}
.width-5p{
	width:5%;
}
.width-0p{
	width:0%;
}
/*margin*/
.no-margin{
	margin:0px;
}
.margin-auto{
	margin:auto;
}
.margin-1{
	margin:1px;
}
.margin-2{
	margin:2px;
}
.margin-3{
	margin:3px;
}
.margin-4{
	margin:4px;
}
.margin-5{
	margin:5px;
}
.margin-6{
	margin:6px;
}.margin-7{
	margin:7px;
}
.margin-8{
	margin:8px;
}
.margin-9{
	margin:9px;
}
.margin-10{
	margin:10px;
}
/*padding*/
.no-padding{
	padding:0px;
}
.padding-1{
	padding:1px;
}
.padding-2{
	padding:2px;
}
.padding-3{
	padding:3px;
}
.padding-4{
	padding:4px;
}
.padding-5{
	padding:5px;
}
.padding-6{
	padding:6px;
}.padding-7{
	padding:7px;
}
.padding-8{
	padding:8px;
}
.padding-9{
	padding:9px;
}
.padding-10{
	padding:10px;
}
.padding-15{
	padding:15px;
}
.padding-20{
	padding:20px;
}

.float-right{
	float:right;
}
.float-left{
	float:left;
}
/*border*/
.e3-border{
	border:1px solid #e3e3e3;
}
.red-border{
	border:1px solid red;
}
.site-color-border{
	border:1px solid #20435C;
}
.border-radius-1{
	border-radius:1px;
}
.border-radius-2{
	border-radius:2px;
}
.border-radius-3{
	border-radius:3px;
}
.border-radius-4{
	border-radius:4px;
}
.border-radius-5{
	border-radius:5px;
}.border-radius-6{
	border-radius:6px;
}
.border-radius-7{
	border-radius:7px;
}
.border-radius-8{
	border-radius:8px;
}
.border-radius-9{
	border-radius:9px;
}
.border-radius-10{
	border-radius:10px;
}
.border-round{
border-radius:50%;
}
/*Display*/
.block{
	display:block;
}
.inline{
	display:inline;
}
.inline-block{
	display:inline-block;
}
/*positions*/
.absolute{
	position:absolute;
}
.fixed{
	position:fixed;
}
.relative{
	position:relative;
}

/*Font Weights*/
.bold{
	font-weight:bold;
}
.italic{
	font-style:italic;
}
.normal{
	font-weight:normal;
}

/*Colors*/
.site-color{
	color:#20435C;
}
.site-color-background{
	background-color:#20435C;
}
.white{
	color:white;
}
.white-background{
	background-color:white;
}
.black{
	color:black;
}
.black-background{
	background-color:black;
}
.red{
	color:red;
}
.red-background{
	background-color:red;
}
.green{
	color:green;
}
.green-background{
	background-color:green;
}
.grey{
	color:grey;
}
.grey-background{
	background-color:grey;
}
.opac-black{
	color:rgba(0,0,0,0.7);
}
.opac-black-background{
	background-color:rgba(0,0,0,0.3);
}
.opac-white{
	color:rgba(255,255,255,0.7)
}
.opac-white-background{
	background-color:rgba(255,255,255,0.3);
}
.skyblue{
color:#74B4E0;
}
.skyblue-background{
		background-color:#74B4E0;
}
.deepblue{
	color:#0d47a1;
}
.deepblue-background{
	background-color:#0d47a1;
}
.purple{
	color:purple;
}
.purple-background{
	background-color:purple;
}
.yellow{
	color:yellow;
}
.yellow-background{
	background-color:yellow;
}
.f7-color{
color:#f7f7f7;	
}
.f7-background{
	background-color:#f7f7f7 !important;
}



/*follow unfolow button*/
.follow-button{
	background-color:white;
	color:grey;
}
.unfollow-button{
	background-color:#0d47a1;
	color:white;
}
.follow-button,.unfollow-button,.waiting-follow-button{
	cursor:pointer;
	margin-top:5px;
	text-align:center;
	margin-right:5px;
	border:2px solid #F5F5F5;
	padding:5px 15px 5px 15px;
	border:1px solid #E3E3E3;
	border-radius:5px;
	font-size: 15px;
}
.follow-button:hover,.unfollow-button:hover,.waiting-follow-button:hover{
	/*font-size:17px;*/  
}

.time{
	color:grey;
	font-size:80%;
	text-align:right;
}


.operation-report-container{
	text-align:center;
	font-size:100%;
	width:70%;
	margin:auto;
	margin-bottom:5px;
	margin-top:2%;
	margin-bottom:2%;
	padding:10px; 
	line-height:100%;
	border: 1px solid #E3E3E3;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.05) inset;
}
.success{
	background-color: #b2dfdb;
	color: #20435C;
}
.fail{
	color:red;
	background-color: rgba(200, 0, 0, 0.1);
}

/*Sidebar*/
.sidebar-wrapper{
		font-size:12px;
		background-color:inherit;
		z-index:100;
		position:fixed;
	}
.account-nav-container{
	width:95%;
	margin:auto;
	margin-bottom:5px;
	border-top:none;
	padding:5px 2px;
}
.client-avatar,.agent-avatar{
	padding:20px;
	border-radius:50%;
	border:1px solid #e3e3e3;
	background-color:white;
}


.side-bar-countdown-container{
	margin-bottom:10px;
}
.time-figures-countdown-container{
	display:inline-block;
	background-color:white;
	color:#20435C;
	font-weight:bold;
	font-size:120%;
	border-radius:2px;
	margin:0.5px;
	width:20%;
	padding:10px;
	text-align:center;
	box-shadow:0px 3px 3px rgba(0,0,0,0.1) inset;
}
	
.account-nav-link{
		padding:4px;
		color:grey;
	display:block;
	width:100%;
}
.account-nav-link:hover{
	text-decoration:none;
		color:#20435C;

}
.account-nav-link#logout:hover{
	color:red;
}
#hiddenTopMenu>.account-nav-link{
	display: inline-block;
	width:20%;
}

#category-container{
	width:92%;
	overflow-y:hidden;
	padding-left: 2%;
}
#categories{
padding:3%;
cursor:default;
color:grey;
display:block;
font-weight:bold;
}



.btn-dropdown{
width:92%;
margin-top:5px;
text-align:left;
color:#eeeeee;
cursor:pointer;
padding:4%;
margin-bottom:2px;
border-radius:1px;
}
/* all btn-dropdown but #all-btn-dropdown*/
.btn-dropdown:not(#all-btn-dropdown){
	background-color:grey;
}
#all-btn-dropdown{
	font-size:80%;
	text-align:right;
	color:grey;
}

div.dropdowns{
width:100%;
display:none;
}

a.dropdown-menu{
text-align:left;
width:90%;
display:block;
background-color:#eeeeee;
color:purple;
margin-bottom:1px;
padding:3%;
border-bottom:1px solid white;

}
a.dropdown-menu:hover{
text-decoration:none;
background-color:#DDD;
}


/*Font-sizes*/
.font-10{
	font-size:10px;
}
.font-12{
	font-size:12px;
}
.font-14{
	font-size:14px;
}
.font-16{
	font-size:16px;
}
.font-18{
	font-size:18px;
}
.font-20{
	font-size:20px;
}
.font-22{
	font-size:22px;
}
.font-24{
	font-size:24px;
}
.font-26{
	font-size:26px;
}
.font-28{
	font-size:28px;
}
.font-30{
	font-size:30px;
}
/*Icons*/
.glyphicon.round{
	padding:10px;
	border-radius:50%;
}

.icon-size-10{
	font-size:10px;
}
.icon-size-15{
	font-size:15px;
}
.icon-size-20{
	font-size:20px;
}
.icon-size-25{
	font-size:25px;
}
.icon-size-30{
	font-size:30px;
}
.icon-size-35{
	font-size:35px;
}
.icon-size-40{
	font-size:40px;
}

.backgrounded-figure{
	padding:3px 15px;
	border-radius:10px;
	font-weight:bold;
	color:white;
}
.cursor-pointer{
	cursor:pointer;
}
.cursor-not-allowed{
	cursor:not-allowed;
}
/*Desktop*/
@media only screen and (min-width: 768px){
/*In desktop and tab, width should no be minimized less than 500px, overflow the body otherwise*/
	html{
		min-width:500px;
	}
.sidebar-wrapper-primary{
max-height:600px;		
	}
.sidebar-wrapper-primary:hover{	
/*overflow-y:scroll;*/
}
#hiddenTopMenu{
	display:none;
}
	.main-content{
		float:right;
		padding:0px 10px;
	}
.rhs{
	margin-left:5px;
}
.center-content{
	width:50%;
	margin: auto;
}
img.mv-photo{
	width:280px;
	height:280px;
	border-radius:5px;
}
}

/*Tab only*/
@media only screen and (max-width:992px){
.center-content{
	width: 60%;
	margin:auto;
}

}
/*smartphone only*/
@media only screen and (max-width:768px){
body.login-picture-background{
		background:  #20435C ;
	}
.container-fluid{
	padding:0px;
}
.main-content{
	padding:0px;
}
.padded-main-content{
		padding:0px 5px;
		box-shadow:0px 20px 20px #555;

	}	

.mv-wrapper{
}
img.mv-photo{
	width:100%;
min-height:200px;
max-height:300px;	
	}
.center-content{
	width: 97%;
	margin:auto;

}

.sidebar-wrapper{
width:90%;	
font-size:14px;
}

[class=^col]{
		padding:0px;
	}

.sidebar-wrapper{
	display:none;
	overflow-y:auto;
}
.sidebar-wrapper-primary{	
background-color:#20435C;
}
.account-nav-container{
	background-color:white;
}
.account-nav-link{
border-bottom:1px solid #e3e3e3;	
}
.operation-report-container{
	width:95%;
}
}
@media all and (min-device-width:992px){
	.scrollable-x{
		overflow-x:hidden;
	}
}
@media (min-width: @screen-sm-min){ ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width:) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
